@page "/Note/Edit/{NoteId:int}"
@using ElvenNoteWepApp.Shared.Models.Note
@using ElvenNoteWepApp.Shared.Models.Category
@inject HttpClient http
@attribute [Authorize]
@inject NavigationManager navigation

@code {
    [Parameter]
    public int NoteId {get; set;}

    private NoteEdit model = new();
    private List<CategoryListItem> categories;
    private string errorMessage;

    protected override async Task OnInitializedAsync()
    {
        model = await http.GetFromJsonAsync<NoteEdit>($"/api/Note/{NoteId}");
        categories = await http.GetFromJsonAsync<List<CategoryListItem>>("/api/Category");
    }

    private async void HandleSubmit()
    {
        var creatRes = await http.PostAsJsonAsync<NoteEdit>("/api/Note/Edit/{NoteId}", model);
        if (creatRes.IsSuccessStatusCode)
        {
            navigation.NavigateTo($"/Note/{NoteId}");
        }
        else
        {
            errorMessage = "Could not create your note right now. Please try again later.";
        }
    }
}
<h3>Edit Note: @model.Title</h3>

@if (errorMessage != null)
{
    <h5 class="text-danger">@errorMessage</h5>
}

@if (categories == null)
{
    <p><em>Loading. . . . </em></p>
}
else
{
    <div class="container">
    <EditForm Model="@model" OnValidSubmit="@HandleSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label>Title</label>
            <InputText class="form-control" @bind-Value="model.Title" />
        </div>
        <br />
        <div class="form-group">
            <label>Content</label>
            <InputTextArea class="form-control" @bind-Value="model.Content" />
        </div>
        <br />
        <div>
            <label>Select a Category for the Note:</label>
        <InputSelect class="form-control" @bind-Value="model.CategoryId">
            @foreach (var category in categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </InputSelect>
        </div>
            <button type="submit" class="btn btn-primary bt-block mt-5">Submit</button>
        </EditForm>
    </div>
}